@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,317;1,317&display=swap');

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);

  --black: #242424;
  --white: rgba(255, 255, 255, 0.87);
  --green-active: #459e48;
  --green: #59d35e;
  --shadow: rgba(0, 0, 0, 0.3);

}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/*header {*/
/*  width: 100%;*/
/*}*/

/*main {*/
/*  width: 100%;*/
/*}*/

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 12px 0;
}

